<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-4 mx-auto text-center">
        <img class="mx-auto d-block" src="~/toplogo.webp">
    </div>
</div>

<div class="row">
    <div class="text-center text_bold">
        <h3>One Multi-Users App web application demo</h3>
    </div>
</div>
