<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SSLCertThmbprint" value="0593e963245d5e8cc24a8197dd797cb48d4f0aa1"/>
    <!--
    <add key="SSLClientCert" value="C:\Users\Administrator\source\repos\IATADev\Cert\clientcert.p12"/>
    -->
    <add key="SSLClientCert" value="C:\Users\Administrator\source\repos\IATADev\Cert\revoked.p12"/>
    <add key="SSLClientCertPwd" value="#IATA2020x"/>
  </appSettings>
</configuration>