@{
    ViewData["Title"] = "Errors";
}
<h3>@ViewData["Title"]</h3>

<p>Message: <span > @ViewBag?.error </span></p>
<p>Details: <span > @ViewBag?.details </span></p>
<br />
<br />
<p>Return to <a href="/home">Home</a></p>
